extends ./layout.pug

block content

	h1 Content
	p Qui asperiores ullam quas ut corrupti ratione nemo saepe. Qui eum voluptatem tempora aut et qui consequuntur ipsam. Culpa voluptas reiciendis non consectetur quia. Architecto sed tenetur cupiditate totam.
