doctype html
html(lang="en")
	head
		title Static Development - Haseeb Qureshi - @haseebnqureshi
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
		meta(name="description", content="")
		meta(name="keywords", content="")
		link(rel="stylesheet", type="text/css", href="css/bundle.css")
	body

		include ./partials/header.pug

		block content

		include ./partials/footer.pug

		script(type="text/javascript", src="js/bundle.min.js")
